body {
  background-color: #DCDCDD;
  font-family: 'Dosis', sans-serif;
  color: #46494C;
  line-height: 20px;
  font-size: 15px;
}

h1, h2, h3 {
  font: 'Raleway', sans-serif;
  line-height: 30px;
  color: #4C5C68;
}

h1 {
  font-size: 40px;
  color: #1985A1
}

h2 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #46494C;
  font-style: italic;
}

#summary {
  font-size: 20px;
  line-height: 30px;
}

#summary .card > p {
  padding-top: 20px;
}


.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.img-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.list-inline {
  margin: 10px;
  padding-left: 0px;
  margin-top: 30px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

table {
  text-align: justify;
}

td {
  padding: 10px
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #46494C;
  text-align: center;
  margin: 0px;
}

#sidebar > ul > li > a {
  color: #DCDCDD;
  text-decoration: none;
  font-size: 35px;
}

#sidebar > ul {
  padding-left: 0px;
}

#sidebar > ul > li {
  margin-top: 50px;
  margin-bottom: 50px;
  display: list-item;
}

#page-content {
  margin-left: 100px;
}

div {
  display: block;
}

#left-container {
  float: left;
  width: 35%;
  min-height: 900px;
}

#left-container .card:first-child {
    min-height: 690px;
}

#left-container .card:last-child {
    min-height: 140px;
}

#right-container {
  float: right;
  width: 60%;
  min-height: 900px;
}

.clear {
  clear: both;
}

#wrapper {
    padding: 20px;
    width: 1000px;
    margin: 20px auto;
    border-radius: 2px;
    background: rgba(175, 175, 175, 0.1);
}
