body {
  background-color: #DCDCDD;
  font-family: 'Dosis', sans-serif;
  color: #46494C;
  line-height: 20px;
  font-size: 18px;
}

h1, h2, h3 {
  font: 'Raleway', sans-serif;
  line-height: 25px;
  color: #4C5C68;
}

h1 {
  font-size: 30px;
  color: #1985A1
}

h2 {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #46494C;
  font-style: italic;
}

.container {
  width: 80%;
  margin: 30px auto;
}


.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.img-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.list-inline {
  margin: 10px;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

table {
  text-align: justify;
}

td {
  padding: 10px
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #46494C;
  text-align: center;
  margin: 0px;
}

#sidebar > ul > li > a {
  color: #DCDCDD;
  text-decoration: none;
  font-size: 35px;
}

#sidebar > ul {
  padding-left: 0px;
}

#sidebar > ul > li {
  margin-top: 50px;
  margin-bottom: 50px;
  display: list-item;
}

#page-content {
  margin-left: 300px;
}

div {
  display: block;
}
